.expand-section{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.125em;
  gap: 1em;
}

.section-content{
  height: 0;
  opacity: 0;
  position: relative;
  transform: translateY(-25px);
  transform-origin: top;
  visibility: hidden;
  width: 100%;
  z-index: 2;
}
