/* utils */
.container {
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 1.75em;
}

.open {
  height: auto;
  opacity: 1;
  transform: translateY(0);
  transition: opacity, transform, visibility;
  transition-duration: 0.25s;
  visibility: visible;
}

img {
  max-width: 100%;
}

.forms .form-item {
  margin-bottom: 1em;
}
