.open {
  height: auto;
  opacity: 1;
  transform: translateY(0);
  transition: opacity, transform, visibility;
  transition-duration: 0.25s;
  visibility: visible;
}

img {
  max-width: 100%;
}

.forms .intro-personal {
}

.forms .form-item {
  margin-bottom: 1em;
}
